@{
    ViewBag.Title = "Home Page";
    
}
@if (Session["UserId"] != null)
{



<div class="jumbotron">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h5 class="pull-right">@ViewBag.Message  @Session["UserName"]</h5>
        </hgroup>
    </div>
</div>

}